.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  align-items: center;
  background-color: var(--white);
  font-weight: 700;
  font-size: 16px;
  padding: var(--m-left-right);
  position: fixed;
  z-index: 100;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links li {
  list-style: none;
}
