:root {
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  --m-left-right: 0 170px 0 170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: var(--very-light-gray);
  color: var(--dark-blue);
  position: relative;
  overflow-x: hidden;
}
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
button,
span,
h4,
p,
li {
  cursor: pointer;
  transition: 0.4s all;
}

span:hover,
a:hover,
h4:hover,
h5:hover {
  color: var(--lime-green);
}

span,
small,
p,
li {
  color: var(--grayish-blue);
}

span {
  font-weight: 300;
}
